NEXT_PUBLIC_SITE_URL=https://www.hosterialacamila.com
NEXT_PUBLIC_MINIHOTEL_BOOKING_URL=https://frame2.hotelpms.io/BookingFrameClient/hotel/5CC9EFFB4A8A2A7083E1B6A9E5B00F4A/edd71bb0-e640-4371-834d-8eb6b8c8d337/book/rooms?currency=USD&language=es-ES&rp=
NEXT_PUBLIC_GA_ID=
